@import "tailwindcss";

.form {
  @apply mb-[3%] w-full px-[1%] transform transition duration-1000 ease-out;
}

.label {
  @apply font-bold text-(--primary-color);
}

.input {
  @apply text-black w-full rounded-md bg-(--border-color) p-3 focus:border-(--primary-color) focus:outline-none focus:ring-1 focus:ring-(--primary-color);
}