---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="fixed inset-0 flex flex-col items-center justify-center
	text-white">
		<div class="text-9xl font-black">
			4<span class="text-(--primary-color)">0</span>4
		</div>
		<div class="text-3xl text-(--border-color) font-bold">
			Page Not Found!
		</div>
		<p class="mt-4 text-center text-(--border-color) max-w-md px-4">
			Sudah tau ini halaman website nya cuma ada satu doang, ngapain ke sini?
		</p>
	</div>
</Layout>

<style>

	body {
		background-color: #1c1c1c;
	}

</style>